.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background: white;
    /* background-color: (270 deg, #DF8908 80%, #B415FF 100%); */
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 130px;
    height: 65px; /* Maintain aspect ratio */
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
    padding: 0;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-icons-container img {
    width: 30px;
    height: 30px; /* Ensure icons fit within the container */
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
